/* Reset some default styles */
body,
h1,
h2,
form,
ul,
li,
p,
a {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  font-size: 36px;
}

section {
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.state-selection {
  text-align: center;
}

.state-selection h2 {
  font-size: 24px;
}

.state-selection ul {
  list-style-type: none;
  padding: 0;
}

.state-selection li {
  margin: 5px 0;
}

.state-selection a {
  text-decoration: none;
  background-color: #f5f5f5;
  color: #333;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  transition: background-color 0.3s, color 0.3s;
}

.state-selection a:hover {
  background-color: #333;
  color: #fff;
}

.contact-details {
  text-align: center;
}

.contact-details h2 {
  font-size: 24px;
}

.contact-details p {
  margin-bottom: 10px;
}

.contact-details a {
  color: #333;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
  background-color: #333;
  color: #fff;
}

.lawyer-details {
  flex-grow: 1; /* Allow the main content to grow and push the footer to the bottom */
}
